# Arduino/ESP32 build files
*.elf
*.bin
*.hex
*.eep
*.map
*.d
*.o
*.a

# Arduino secrets
secrets.h

# VSCode/CLion/PlatformIO/Arduino IDE
.vscode/
.pio/
*.code-workspace
*.ino.*
*.sublime-workspace
*.sublime-project

# MacOS
.DS_Store